
#menu{
width: 300px;
background-color:lightgray;
height: calc(30000vh - 60px);
display: inline-block;
position:absolute;

}
.in{
width: 250px;
height: 20px;
padding:10px;
border:1px solid gray;
background-color: #e0ebeb;
color: #00b33c;
text-align:center;
border-radius:2px;
margin-top: 25px;
margin-left:15px;
overflow:hidden;
}

img{
    border-radius: 50%;
    border:3px solid blue;
    width:600px;
    height:600px;
    position: relative;
    left:50%;
    
}
.text{
text-align:center;
color:blue;
position:relative;
left:30%;
}
