body{
	margin:0;
	padding:0;
	 box-sizing: border-box;
}

.row {
	position:relative;
    float: left;
    width: 40px;
    height:3000px;
	background-color:#D0D0D0;
}
#container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	flex-wrap:wrap;
	justify-content:center;
	align-content:stretch;
}

#i2 {
	flex: 0 0 auto;	
	background-color:Lightblue ;
	border:1px solid blue;
	width:100px;
	height:100px;
	margin:4px
}
.i8 {
	position:relative;
	float: right;
    width: 40px;
    height:3000px;
	background-color:#D0D0D0;
}